@import url('./base-reset.css');

.section-counter-text {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #801212;
}

.container-counter {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.label-text-area {
    width: 100%;
}

.textarea-input {
    display: block;
    width: 100%;
    min-height: 150px;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    resize: none;
}

.counter-text {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    background-color: #100000;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.text-amount {
    text-align: center;
    line-height: 1.5;
}
