@import url('./base-reset.css');

.section-life-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #801212;
}

.go-back-link {
    padding: 0;
    margin-bottom: 16px;
    color: #fff;
}

.container-life-calculator  {
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 8px 5px rgba(228, 4, 4, 0.548);
}


.title-make-word {
    font-size: 24px;
    font-weight: 700;
    color: #801212;
    text-align: center;
    margin-bottom: 16px;
}

.text-instuction {
    margin-bottom: 32px;
    font-weight: 500;
    text-align: center;
}

.form-life-calculator {
    display: flex;
    flex-direction: column;
}

.container-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 48px;
}

.label-input {
   display: flex;
   gap: 10px;
   align-items: center;
}

.label-input input {
    width: 100%;
    padding: 4px 16px;
    border-radius: 2px;
    border: 1px solid #4c4545;
    font-size: 16px;
    font-weight: 500;
    color: #4c4545;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    text-align: center;

    &:is(:focus, :hover) {
        border-color: #801212;
    }
}

.title-input {
    font-size: 16px;
    font-weight: 500;
    color: #120303;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 48px;
}

.item-results {
    display: flex;
    align-items: center; 
    width: 100%;
    color: #120303;
    font-weight: 700;
}

.item-results span:first-child {
    max-width: 100px;
    width: 100%;
    margin-right: 12px;
} 

.title-before-times {
    color: #4c4545;
}

.span-output-values {
    max-width: 230px;
    width: 100%;
    text-align: right;
    padding: 4px 16px;
    border: 1px solid #c9c9c9;
    margin-right: 12px;
    text-align: center;
}

.btn-calculate {
    display: block;
    border: none;
    min-width: 250px;
    width: 100%;
    padding: 12px 0;
    background-color: #801212;
    color: #fff;
    border-radius: 8px;
}