@import url('./base-reset.css');

/* SECTION-TASKS */

.section-tasks {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tasks {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
}

.list-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-tasks__item {
  width: calc((100% - 20px * 2) / 3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.link {
  display: block;
  text-decoration: none;
}

.img-task {
  display: block;
  max-height: 208px;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.task-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding: 20px;
  width: 100%;
}







