@import url('./base-reset.css');

.section-stopwatch {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #801212;
}

.container-stopwatch {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.stopwatch-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 320px;
    margin-top: 16px;
    width: 100%;
}

.stopwatch {
    display: flex;
    gap: 12px;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    background-color: black;
    border-radius: 8px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    transition: background-color 0.3s ease-in-out;
}

.value {
    display: inline-block;
    width: 2ch;
}

.stopwatch:hover {
    background-color: #801212;
}

.stopwatch__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-start,
.btn-stop,
.btn-reset {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.btn-start:is(:hover,:focus),
.btn-stop:is(:hover,:focus),
.btn-reset:is(:hover,:focus) {
    background-color: #801212;
}
