* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: #2e2f42;
  background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SECTION-TASKS */

.section-tasks {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tasks {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
}

.list-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-tasks__item {
  width: calc((100% - 20px * 2) / 3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.link {
  display: block;
  text-decoration: none;
}

.img-task {
  display: block;
  max-height: 208px;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.task-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding: 20px;
  width: 100%;
}







